.adminFlatsShow-page {
    .notification-flat-hidden {
        background: red;
        color: white;
        flex-basis: 100%;
        .icon::after {
            content: '';
            margin-right: 15px;
        }
    }
}

