.success-message,
.error-message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: $green;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 5px;
    font-weight: 500;
    margin-bottom: 10px;
    animation-name: fadeOut;
    animation-duration: 10s;
    animation-timing-function: ease;
    z-index: 100;
    opacity: 0;
}

.error-message{
    background-color: $red;
}


@keyframes fadeOut {
    
    0%   { opacity: 0;}
    50%  { opacity: 1;}
    100% { opacity: 0;}
    
}

@include mobile {
}
/* Tablets (tablets, 768px and up) */
@include tablet {
    .success-message,
    .error-message{
        width: 60%;
    }
}
/* Desktops (desktops, 992px and up) */
@include desktop {
    .success-message,
    .error-message{
        width: 60%;
        height: 100px;
    }
}
/* Large desktops (large desktops, 1200px and up) */
@include large-desktop {
}