.button-home {
    @include button-serach-home;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 20px;
    border: 0;
    background: #f3f0f1;
    border-radius: 32px;
    padding: 20px;
    text-decoration: none;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
        6px 6px 10px rgba(0, 0, 0, 0.2);
    color: #6f6cde;
    transition: all 0.1s ease-in-out;
    &:hover {
        box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
            6px 6px 10px rgba(0, 0, 0, 0.2);
    }
    cursor: pointer;
}

.btn-spons {
    color: $orange;
}

.btn-edit {
    color: $blue;
}

.btn-delete {
    color: $red;
    cursor: pointer;
    &:active {
        border: 0;
    }
}

.btn-add,
.btn-message {
    color: $green;
}

.btn-stat,
.btn-spons,
.btn-delete,
.btn-edit {
    position: relative;
    .top-text {
        visibility: hidden;
        width: 120px;
        background: #f3f0f1;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
        &:after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #f3f0f1 transparent transparent transparent;
            }
        }
}

.btn-stat,
.btn-spons,
.btn-delete,
.btn-edit{
    &:hover{
        .top-text{
            visibility: visible;
            opacity: 1;
        }
    }
}

.button-card{
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.btn-login-page,
.btn-register-page {
    @include bg_gradient;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: 600;
}

.logout-header-navbar {
    background: none;
	color: inherit;
    border: 0.5px solid #cac9c9;
    border-radius: 18px;
    padding: 10px;
    box-shadow: -1px 1px 1px 0px #cac9c9;
    font: inherit;
    cursor: pointer;
    text-decoration: none;;
}

