.card-row {
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    text-align: center;
    position: relative;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    width: 95%;
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
        color: rgb(0, 0, 0);
        font-weight: 500;
        border-radius: 5px;
        transition: opacity 0.4s;
        opacity: 0;
        &:hover {
            opacity: 1;
            background-color: #afaeae96;
            border-radius: 16px;
        }
        .overlay-left {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-basis: 40%;
        }
    }

    img {
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        width: 100%;
        max-height: 160px;
    }

    .desc-card {
        color: $text;
        p {
            display: none;
        }
        i{
            font-size: 30px;
            position: absolute;
            top: 0px;
            right: 15px;
            color: $orange;
        }
    }

    .button-card {
        align-items: center;
    }
}

@include mobile {
}
/* Tablets (tablets, 768px and up) */
@include tablet {
    .card-row {
        flex-basis: calc((100% / 2 ) - 20px);
            margin: 0 20px 20px 0;
            &:nth-of-type(2n) {
                margin-right: 0;
            }
    }
}
/* Desktops (desktops, 992px and up) */
@include desktop {
    .card-row {
        flex-direction: row;
        text-align: left;
        img {
            width: 330px;
            margin-right: 10px;
            border-top-right-radius: 0;
            border-bottom-left-radius: 16px;
        }
        padding-right: 10px;
        flex-basis: 100%;
        &:nth-of-type(1n) {
            margin-right: 0;
        }
        .desc-card {
            p {
                display: block;
                line-height: 25px;
            }
            .desc-card__sponsored{
                font-size: 12px;
                position: absolute;
                bottom: 2px;
                right: 10px;
                color: #f6993f;
            }
            i{
                right: 35px;
            }
        }
    }
}
/* Large desktops (large desktops, 1200px and up) */
@include large-desktop {
}
