.sponsorship-card{
    flex-wrap: wrap;
    padding-bottom: 20px;
    .card{
        border-radius: 16px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
        display: block;
        flex-basis: 100%;
        text-decoration: none;
        color: $black;
        margin: 20px 10px;
        img{
            margin-bottom: 5px;
            width: 100%;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            max-height: 230px;
        }
    }
    .text-card {
        padding-left: 10px;
        padding-top: 5px;
        font-size: 18px;
        font-weight: 500;
        height: 80px;
        p{
            font-size: 14px;
            color: #333;
            padding: 3px 0;
        }
    } 
}


@include mobile {

}
/* Tablets (tablets, 768px and up) */
@include tablet {
    .sponsorship-card{
        .card{
            img{
                max-height: 194px;
            }
            flex-basis: calc((100% / 2 ) - 20px);
            margin: 0 20px 20px 0;
            &:nth-of-type(2n) {
                margin-right: 0;
            }
        }
    }
}
/* Desktops (desktops, 992px and up) */
@include desktop {
    
}
/* Large desktops (large desktops, 1200px and up) */
@include large-desktop {
    .sponsorship-card{
        .card{
            &:nth-of-type(2n) {
                margin-right: 20px;
            }
            flex-basis: calc((100% / 3 ) - 20px);
            &:nth-of-type(3n) {
                margin-right: 0;
            }
            .text-card {
                height: 60px;
                p{
                    font-size: 14px;
                    color: #333;
                    padding: 3px 0;
                }
            } 
        }
    }

}
