.card-row{
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    text-align: center;
    .image{
        img{
            max-width: 300px;
            max-height: 140px;
            border-radius: 5px;
        }
    }
    
    .desc-card{
        color: $text;
        p{
            display: none;
        }
    }
}

@include mobile {
    
}
/* Tablets (tablets, 768px and up) */
@include tablet {
    .card-row{
        flex-direction: row;
        text-align: left;
        img{
            margin: 0;
        }
    }
    
}
/* Desktops (desktops, 992px and up) */
@include desktop {
    .card-row{
        padding-right: 10px;
        .desc-card{
            p{
                display: block;
                line-height: 25px;
            }
        }
    }
}
/* Large desktops (large desktops, 1200px and up) */
@include large-desktop {
}
