// General Settings
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

main {
    flex-grow: 1;
}

li {
    list-style: none;
}

.main-content {
    padding: 0 15px;
    max-width: 1800px;
    margin: 0 auto;
}

// Margins and Paddings
@for $i from 1 through 10 {
    .m#{$i} {
        margin: 5px * $i;
    }
}

@for $i from 1 through 10 {
    .mt-#{$i * 5} {
        margin-top: 5px * $i;
    }
}

@for $i from 1 through 10 {
    .mb-#{$i * 5} {
        margin-bottom: 5px * $i;
    }
}

@for $i from 1 through 10 {
    .mr-#{$i} {
        margin-right: 5px * $i;
    }
}

@for $i from 1 through 10 {
    .ml-#{$i} {
        margin-left: 5px * $i;
    }
}

@for $i from 1 through 10 {
    .p-#{$i * 5} {
        padding: 5px * $i;
    }
}

@for $i from 1 through 10 {
    .pt-#{$i * 5} {
        padding-top: 5px * $i;
    }
}

@for $i from 1 through 10 {
    .pb-#{$i * 5} {
        padding-bottom: 5px * $i;
    }
}

@for $i from 1 through 10 {
    .pr-#{$i} {
        padding-right: 5px * $i;
    }
}

@for $i from 1 through 10 {
    .pl-#{$i} {
        padding-left: 5px * $i;
    }
}

// text
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

// Display
.inline {
    display: inline;
}

.block {
    display: block;
}

.no-display {
    display: none;
}

.no-visibility {
    visibility: hidden;
}
// Flex
.d-flex {
    display: flex;
}

.df-column {
    display: flex;
    flex-direction: column;
}

.s-between {
    justify-content: space-between;
}

.s-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

// Buttons

.li-button {
    border: 0.5px solid #cac9c9;
    border-radius: 18px;
    padding: 10px;
    box-shadow: -1px 1px 1px 0px #cac9c9;
}

.button-home {
    @include button-serach-home;
}

.btn {
    height: 40px;
    display: inline-block;
    border: 0;
    background: #f3f0f1;
    border-radius: 32px;
    padding: 10px;
    text-decoration: none;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
        6px 6px 10px rgba(0, 0, 0, 0.2);
    color: #6f6cde;
    transition: all 0.1s ease-in-out;
    &:hover {
        opacity: 0.5;
        box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
            6px 6px 10px rgba(0, 0, 0, 0.2);
    }
    cursor: pointer;
}

.btn-spons {
    color: $orange;
}

.btn-edit {
    color: $blue;
}

.btn-delete {
    color: $red;
    cursor: pointer;
    &:active {
        border: 0;
    }
}

.btn-add,
.btn-message {
    color: $green;
    height: 50px;
}
