// General Settings
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

main{
    flex-grow: 1;
}

.main-content {
    width: 1200px;
    margin: 0 auto;
}

// Margins and Paddings

.m-5{
    margin: 5px;
}

.m-10{
    margin: 10px;
}

.m-15{
    margin: 15px;
}

.m-20{
    margin: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-30 {
    margin-right: 30px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-30 {
    margin-left: 30px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

// Display

.inline {
    display: inline;
}

// Flex

.d-flex {
    display: flex;
}

.df-column {
    display: flex;
    flex-direction: column;
}

.s-between{
    justify-content: space-between;
}

.align-center {
    align-items: center;
}


// Buttons

.li-button {
    border: 0.5px solid #cac9c9;
    border-radius: 18px;
    padding: 10px;
    box-shadow: -1px 1px 1px 0px #cac9c9;
}

.button-home {
    @include button-serach-home;
}

.btn{
    background: #f3f0f1;
    border-radius: 32px;
    padding: 10px;
    text-decoration: none;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
        6px 6px 10px rgba(0, 0, 0, 0.2);
        color: #6f6cde;
    transition: all 0.1s ease-in-out;
    &:hover{
        opacity: 0.5;
        box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
        6px 6px 10px rgba(0, 0, 0, 0.2);
    }
}

.btn-spons{
    color: $orange;
}

.btn-edit{
    color: $blue;
}

.btn-delete{
    color: $red;
    border: 0;
    cursor: pointer;
    &:active{
        border: 0;
    }
}

.btn-add{
    color: $green;
    height: 50px;
    &:hover{
        content: "<i class="fas fa-plus"></i>"
    }
}