.success-message,
.error-message {
    width: 100%;
    padding: 20px;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 50px));
    text-align: center;
    background-color: $green;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-weight: 500;
    margin-bottom: 10px;
    z-index: 1500;
    opacity: 0;
    color: #fff;
}

.error-message {
    background-color: $red;
}

.message-animation {
    animation-name: fadeOut;
    animation-duration: 10s;
    animation-timing-function: ease;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }

    15% {
        top: 4%;
        opacity: 1;
    }
    30% {
        top: 4%;
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@include mobile {
}

/* Desktops (desktops, 992px and up) */
@include desktop {
    .success-message,
    .error-message {
        min-height: 100px;
    }

    @keyframes fadeOut {
        0% {
            opacity: 0;
        }

        15% {
            top: 8%;
            opacity: 1;
        }
        30% {
            top: 8%;
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
}
/* Large desktops (large desktops, 1200px and up) */
@include large-desktop {
}
