//FOOTER
.main-footer {
    background: $footerbg;
    width: 100%;
    border-top: 1px solid #cac9c9;
    color: $text;
    font-weight: 500;
    padding: 20px;
}
.nav-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
}
.nav-footer:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    border-top: 1px solid #cac9c9;
    .footer-title,
    ul li {
        display: inline;
    }
    .footer-column:last-child {
        justify-content: space-between;
        a {
            text-decoration: underline;
        }
        a:hover {
            opacity: 0.8;
        }
    }
    i {
        vertical-align: middle;
        margin-right: 10px;
        font-size: 14px;
    }
}
.footer-column {
    align-self: flex-start;
    ul li,
    a {
        list-style: none;
        text-decoration: none;
        color: $text;
        font-size: 12px;
        padding-bottom: 8px;
    }
    a:hover {
        text-decoration: underline;
    }
}
.footer-title {
    font-size: 16px;
    font-weight: 900;
    padding-bottom: 8px;
}

@include mobile {

}
/* Tablets (tablets, 768px and up) */
@include tablet {
    .nav-footer{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        .footer-column{
            flex-basis: 50%;
            padding-bottom: 20px;
        }
    }
}
/* Desktops (desktops, 992px and up) */
@include desktop {
    .nav-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        vertical-align: middle;
        max-width: 1140px;
        margin: 0 auto;
    }

}

/* Large desktops (large desktops, 1200px and up) */
@include large-desktop {
    
}