//HEADER
.main-header {
    padding: 10px;
    .navbar-header-page {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo-header-page {
            text-decoration: none;
            @include text_gradient;
            display: flex;
            align-items: center;
            i {
                font-size: 30px;
            }
            span {
                font-weight: 900;
            }
        }
        #hamburger-btn {
            background: $white;
            border: none;
            &:focus {
                outline: none;
            }
            i {
                font-size: 20px;
            }
        }
    }
    .mobile-navbar-header-page {
        display: none;
        &.show {
            display: block;
        }
    }
    .big-navbar-header-page {
        // display: none;
        ul li {
            display: none;
        }
    }
}
.hamburger-header-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    .logo-header-page {
        text-decoration: none;
        @include text_gradient;
        i {
            font-size: 30px;
            vertical-align: middle;
        }
        span {
            font-weight: 900;
        }
    }
    .mobile-navbar-header-page {
        position: fixed;
        top: 36px;
        right: 10px;
        background: $footerbg;
        border: 1px solid $text;
        border-radius: 10px 0 0 10px;
        // padding: 5px;
        z-index: 3;
        -webkit-animation: fadeIn 0.4s;
        animation: fadeIn 0.4s;
        .emptydiv-header-page {
            padding: 0;
            margin: 0;
            height: 10%;
            width: 100%;
            background: linear-gradient(to left, rgb(146, 23, 77) 9.38%, rgb(228, 29, 92) 88.54%);
            border-radius: 9.4px 0 0 0;
        }
        ul {
            padding: 5px;
            i {
                display: none;
            }
            li {
                text-align: left;
                list-style: none;
                text-decoration: none;
                padding: 5px;
                margin-right: 8px;
                font-size: 12px;
                font-weight: 500;
                a {
                    color: $text;
                    text-decoration: none;
                }
                #register-button {
                    background: none;
                    color: inherit;
                    border: none;
                    padding: 0;
                    font: inherit;
                    cursor: pointer;
                    outline: inherit;
                    box-shadow: none;
                    border-radius: none;
                }
            }
        }
    }
}
//Hamburger animation
@-webkit-keyframes fadeIn {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
@keyframes fadeIn {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

@include mobile {

}
/* Tablets (tablets, 768px and up) */
@include tablet {
    .navbar-header-page {
        display: flex;
        justify-content: space-between;
        align-items: center;
        vertical-align: middle;
        .logo-header-page {
            text-decoration: none;
            @include text_gradient;
            i {
                font-size: 30px;
                vertical-align: middle;
            }
            span {
                font-weight: 900;
            }
        }
        ul {
            li {
                display: inline;
                text-align: right;
                list-style: none;
                text-decoration: none;
                margin-right: 8px;
                font-size: 12px;
                font-weight: 700;
                a {
                    color: $text;
                    text-decoration: none;
                }
            }
        }
        .hamburger-header-page {
            display: none;
        }
        .big-navbar-header-page {
            display: block;
            ul li {
                display: inline;
            }
        }
    }
    .main-content {
        width: 720px;
    }
}

/* Desktops (desktops, 992px and up) */
@include desktop {
    .main-content {
        width: 1200px;
    }
}

@include large-desktop {

}
