//HEADER
.main-header {
    padding: 10px;
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        #logo {
            text-decoration: none;
            @include text_gradient;
            display: flex;
            align-items: center;
            i {
                font-size: 30px;
            }
            span {
                font-weight: 900;
            }
        }
        #hamburger-btn {
            background: $white;
            border: none;
            &:focus {
                outline: none;
            }
            i{
                font-size: 20px;
            }
        }
    }
    .mobile-navbar{
        display: none;
        &.show{
            display: block;
        }
    }
    .big-navbar{
        display: none;
    }
}

@include mobile {

    
}
/* Tablets (tablets, 768px and up) */
@include tablet {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        vertical-align: middle;
        #logo {
            text-decoration: none;
            @include text_gradient;
            i {
                font-size: 30px;
                vertical-align: middle;
            }
            span {
                font-weight: 900;
            }
        }
        ul {
            li {
                display: inline;
                text-align: right;
                list-style: none;
                text-decoration: none;
                margin-right: 8px;
                font-size: 12px;
                font-weight: 700;
                a {
                    color: $text;
                    text-decoration: none;
                }
            }
        }
        .hamburger{
            display: none;
        }
        .big-navbar{
            display: block;
        }
    }
    .main-content {
        width: 720px;
    }
}

/* Desktops (desktops, 992px and up) */
@include desktop {
    .main-content {
        width: 1200px;
    }
}

@include large-desktop{
    
}