//HEADER
.main-header {
    padding: 10px 0;
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        #logo {
            text-decoration: none;
            @include text_gradient;
            display: flex;
            align-items: center;
            i {
                font-size: 30px;
            }
            span {
                font-weight: 900;
            }
        }
        #hamburger-btn {
            background: $white;
            border: none;
            margin-right: 10px;
            &:focus {
                outline: none;
            }
            i{
                font-size: 25px;
                @include text_gradient;
            }
        }
    }
    .mobile-navbar{
        z-index: 10;
        position: fixed;
        top: 0;
        left: 0;
        background: #fff;
        width: 250px;
        height: 100vh;
        transform: translateX(-100%);
        transition: all 1s cubic-bezier(.215, .61, .355, 1);
    }
    .mobile-navbar--open{
        transform: translateX(0);
    }
    .big-navbar{
        display: none;
    }
}

@include mobile {

    
}
/* Tablets (tablets, 768px and up) */
@include tablet {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        vertical-align: middle;
        #logo {
            text-decoration: none;
            @include text_gradient;
            i {
                font-size: 30px;
                vertical-align: middle;
            }
            span {
                font-weight: 900;
            }
        }
        ul {
            li {
                display: inline;
                text-align: right;
                list-style: none;
                text-decoration: none;
                margin-right: 8px;
                font-size: 12px;
                font-weight: 700;
                a {
                    color: $text;
                    text-decoration: none;
                }
            }
        }
        .hamburger{
            display: none;
        }
        .big-navbar{
            display: block;
        }
    }
}

/* Desktops (desktops, 992px and up) */
@include desktop {
    
}

@include large-desktop{
    
}