//HEADER

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    #logo {
        text-decoration: none;
        @include text_gradient;
        i {
            font-size: 30px;
            vertical-align: middle;
        }
        span {
            font-weight: 900;
        }
    }
    ul {
        li {
            display: inline;
            text-align: right;
            list-style: none;
            text-decoration: none;
            margin-right: 8px;
            font-size: 12px;
            font-weight: 700;
            a {
                color: $text;
                text-decoration: none;
            }
        }
    }
}