//Buttons
#login-button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
#register-button {
    background: none;
	color: inherit;
    border: 0.5px solid #cac9c9;
    border-radius: 18px;
    padding: 10px;
    box-shadow: -1px 1px 1px 0px #cac9c9;
    font: inherit;
	cursor: pointer;
	outline: inherit;
}
//Popup wrapper
.popup {
    display: none;
    position: fixed;
    left: 45%;
    top: 20%;
    width: 100%;
    height: 100%;
    width: 12%;
    overflow: auto;
    z-index: 10;
}
//Popup form
.popup-form {
    background: $white;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5% auto 15% auto;
    padding: 30px 20px;
    -webkit-animation: fadeIn 0.7s;
    animation: fadeIn 0.7s;
}
//close
.close {
    position: absolute;
    right: 15px;
    top: 20px;
    color: $black;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
//Animation
@-webkit-keyframes fadeIn {
    from {transform: scale(0)}
    to {transform: scale(1)}
} 
@keyframes fadeIn {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

