//Wrapper per oscurare la pagina
#popup-wrapper {
    display: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    object-fit: cover;
    z-index: 4;
}
//Buttons
#login-button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
#register-button {
    background: none;
	color: inherit;
    border: 0.5px solid #cac9c9;
    border-radius: 18px;
    padding: 10px;
    box-shadow: -1px 1px 1px 0px #cac9c9;
    font: inherit;
	cursor: pointer;
	outline: inherit;
}
//close
.close {
    float: right;
    text-align: right;
    color: $white;
    opacity: 0.9;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover {
    color: $text;
}
.container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    .card { 
        height: 100%;
        .card-header {
            justify-content: space-between;
            padding: 0 auto 20px;
            border-bottom: 1px solid black;
            border-radius: 10px 10px 0 0;
            padding: 5px 7px;
            background: $bg_airbnb;
            color: $white;
        }
        .card-body {
            margin: 10px 0;
            padding: 5px 7px;
            text-align: center;
            input {
                border-radius: 10px;
                padding: 5px;
            }
            button {
                cursor: pointer;
            }
        }
        .form-group {
            margin: 10px 0;
        }
    }
}
//Popup form
.popup-form {
    background: $white;
    border: 0px solid transparent;
    border-radius: 10px;
    height: 100%;
    color: $text;
    -webkit-animation: fadeIn 0.7s;
    animation: fadeIn 0.7s;
}
//Popup wrapper
.popup {
    display: none;
    position: fixed;
    left: 50%;
    // top: 20%;
    transform: translateX(-50%);
    height: 100%;
    width: 100%;
    overflow: auto;
    z-index: 10;
}
//Animation
@-webkit-keyframes fadeIn {
    from {transform: scale(0)}
    to {transform: scale(1)}
} 
@keyframes fadeIn {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
@include mobile {
   
}
/* Tablets (tablets, 768px and up) */
@include tablet {
    //Popup form
    .popup-form {
        background: $white;
        border: 0px solid transparent;
        border-radius: 10px;
        height: auto;
        color: $text;
        -webkit-animation: fadeIn 0.7s;
        animation: fadeIn 0.7s;
    }
    //Popup wrapper
    .popup {
        display: none;
        position: fixed;
        left: 50%;
        top: 20%;
        transform: translateX(-50%);
        height: 100%;
        width: 300px;
        overflow: auto;
        z-index: 10;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        .card { 
            height: 100%;
            .card-header {
                justify-content: space-between;
                padding: 0 auto 20px;
                border-bottom: 1px solid black;
                border-radius: 10px 10px 0 0;
                padding: 5px 7px;
                background: $bg_airbnb;
                color: $white;
            }
            .card-body {
                margin: 10px 0;
                padding: 5px 7px;
                text-align: center;
                input {
                    border-radius: 10px;
                    padding: 5px;
                }
                button {
                    cursor: pointer;
                }
            }
            .form-group {
                margin: 10px 0;
            }
        }
    }
}


/* Desktops (desktops, 992px and up) */
@include desktop {

}

@include large-desktop {
    
}