.requestsIndex-page {
    .request-card {
        border-bottom: 1px solid $bg_airbnb;
        cursor: pointer;
        .request-date {
            font-size: 90%;
        }
        &.active {
            background: rgb(228, 228, 228);
            .message-text {
                display: block;
            }
        }
    }
}

@include desktop {
    .requestsIndex-page {
        .request-card {
            width: 950px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
