#less-flats,
#less-flats-blade {
    text-align: center;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease;
    h2 {
        background-color: $red;
        border-radius: 5px;
        padding: 10px 5px;
        width: 95%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    &.show {
        display: inline;
    }
}
#less-flats {
    display: none;
}

.popup__image {
    max-width: 100%;
}

// ANIMATION

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.show-map {
    position: fixed;
    width: 100px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    text-align: center;
}

.search-section {
    margin-top: 50px;
}
.index-search {
    position: relative;
    .search-cards {
        flex-basis: 100%;
        height: auto;
        overflow: auto;
        .card-row {
            background: rgba(238, 238, 238, 0.432);
            margin-bottom: 10px;
            flex-direction: column;
            &.sponsored {
                background-color: antiquewhite;
            }
            .desc-card {
                margin-left: 0px;
            }
        }
    }
    .map {
        display: inline-block;
        &.popup-open {
            width: 100%;
            height: 100%;
            position: fixed;
            left: 0;
            top: 0;
            #mapid {
                position: relative;
                width: 100%;
                height: 100%;
                outline: none;
            }
        }
    }
}

@include mobile {
}
/* Tablets (tablets, 768px and up) */
@include tablet {
    #less-flats,
    #less-flats-blade {
        h2 {
            width: 80%;
        }
    }
    /* Desktops (desktops, 992px and up) */
    @include desktop {
        #less-flats,
        #less-flats-blade {
            position: absolute;
            z-index: 99;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            height: auto;
            background-color: $red;
            width: 600px;
            h2 {
                margin-bottom: 0;
            }
        }
        .show-map {
            display: none;
        }
        .index-search {
            padding-bottom: 50px;
            margin: 0 10px;
            .search-cards {
                flex-basis: 60%;
                flex-wrap: wrap;
                height: 100vh;
                overflow: auto;
                margin-right: 10px;
                .card-row {
                    flex-direction: row;
                    .desc-card {
                        margin-left: 10px;
                    }
                }
            }
            .map {
                z-index: 1;
                display: inline-block;
                flex-basis: 40%;
                #mapid {
                    height: 100vh;
                }
            }
        }
    }
    /* Large desktops (large desktops, 1200px and up) */
    @include large-desktop {
        .index-search {
            .search-cards {
                flex-basis: 50%;
            }
            .map {
                flex-basis: 50%;
            }
        }
    }
}
