.jumbotron{
    text-align: center;
    img{
        width: 200px;
    }
    h1{
        font-size: 20px;
        margin: 20px 0;
    }
}
.description{
    width: 80%;
    flex-direction: column;
    .desc{
        line-height: 25px;
    }
    .desc-list{
        ul>li {
            margin-bottom: 5px;
        }
    }
}
.map-description{
    flex-direction: column;
    .map{
        padding-bottom: 20px;
    }
    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .accountholder,
        .accountholder-mail{
            width: 100%;
            .form-group{
                margin-right: 10px;
                input{
                    border: none;
                    border-bottom: 1px solid #ccc;
                    height: 30px;
                    font-size: 16px;
                    padding: 5px;
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
        .accountholder-mail{
            input{
                width: 520px;
            }
        }
        .form-group{
            padding: 10px;
        }

        .form-group-message{
            width: 100%;
            padding: 10px;
                textarea{
                    border: none;
                    border-bottom: 1px solid #ccc;
                    font-size: 16px;
                    padding: 5px;
                    width: 520px;
                    &:focus{
                        outline: none;
                    }
                }
        }
    }
}


/* Tablets (tablets, 768px and up) */
@include tablet {
    .jumbotron{
        text-align: center;
        img{
            width: 90%;
            height: 300px;
        }
        h1{
            margin: 20px 0;
            text-align: center;
        }
    }
    .description{
        padding-bottom: 50px;
        .desc{
            width: 100%;
            line-height: 25px;
        }
        .desc-list{
            padding-left: 20px;
            ul>li {
                margin-bottom: 5px;
            }
        }
    }
    .map-description{
        flex-direction: column;
        .map{
            padding-bottom: 20px;
        }
        form{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .accountholder,
            .accountholder-mail{
                width: 100%;
                .form-group{
                    margin-right: 10px;
                    input{
                        border: none;
                        border-bottom: 1px solid #ccc;
                        height: 30px;
                        font-size: 16px;
                        padding: 5px;
                        &:focus{
                            outline: none;
                        }
                    }
                }
            }
            .accountholder-mail{
                input{
                    width: 520px;
                }
            }
            .form-group{
                padding: 10px;
            }

            .form-group-message{
                width: 100%;
                padding: 10px;
                    textarea{
                        border: none;
                        border-bottom: 1px solid #ccc;
                        font-size: 16px;
                        padding: 5px;
                        width: 520px;
                        &:focus{
                            outline: none;
                        }
                    }
            }
        }
    }

}
/* Desktops (desktops, 992px and up) */
@include desktop {
    .jumbotron{
        img{
            height: 400px;
        }
    }
    .description{
        padding-bottom: 50px;
        .desc{
            width: 50%;
        }
        .desc-list{
            padding-left: 0;
        }
    }
    .map-description{
        flex-direction: row;
        .map{
            width:50%;
            padding-bottom: 0;
        }
    }
    
}
/* Large desktops (large desktops, 1200px and up) */
@include large-desktop {
    
}