.adminSponsorshipIndex {
    .container {
        table {
            margin: 25px auto;
            width: 80%;
            max-width: 1140px;
            tr {
                th,
                td {
                    padding: 10px 0;
                }
            }
        }
    }
}
