// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
//colors airbnb
$black: #000;
$white: #ffffff;
$footerbg: #f7f7f7;
$text: #222222;

@mixin text_gradient {
    background: linear-gradient(to right, rgb(146, 23, 77) 9.38%, rgb(228, 29, 92) 88.54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin button-serach-home {
    background: linear-gradient(to right, rgb(146, 23, 77) 9.38%, rgb(228, 29, 92) 88.54%);
    color: $white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid transparent;
    height: 50px;
    width: 70px;
}

