@import url(https://fonts.googleapis.com/css?family=Nunito);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

main {
  flex-grow: 1;
}

.main-content {
  max-width: 1200px;
  margin: 0 auto;
}

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.m-15 {
  margin: 15px;
}

.m-20 {
  margin: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

li {
  list-style: none;
}

.inline {
  display: inline;
}

.d-flex {
  display: flex;
}

.df-column {
  display: flex;
  flex-direction: column;
}

.s-between {
  justify-content: space-between;
}

.s-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.li-button {
  border: 0.5px solid #cac9c9;
  border-radius: 18px;
  padding: 10px;
  box-shadow: -1px 1px 1px 0px #cac9c9;
}

.button-home {
  background: linear-gradient(to right, #92174d 9.38%, #e41d5c 88.54%);
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid transparent;
  height: 50px;
  width: 70px;
}

.btn {
  height: 40px;
  display: inline-block;
  border: 0;
  background: #f3f0f1;
  border-radius: 32px;
  padding: 10px;
  text-decoration: none;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
  color: #6f6cde;
  transition: all 0.1s ease-in-out;
}

.btn:hover {
  opacity: 0.5;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}

.btn-spons {
  color: #f6993f;
}

.btn-edit {
  color: #3490dc;
}

.btn-delete {
  color: #e3342f;
  cursor: pointer;
}

.btn-delete:active {
  border: 0;
}

.btn-add,
.btn-message {
  color: #38c172;
  height: 50px;
}

/* Tablets (tablets, 768px and up) */

/* Desktops (desktops, 992px and up) */

/* Large desktops (large desktops, 1200px and up) */

.main-header {
  padding: 10px;
}

.main-header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header .navbar #logo {
  text-decoration: none;
  background: linear-gradient(to right, #92174d 9.38%, #e41d5c 88.54%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
}

.main-header .navbar #logo i {
  font-size: 30px;
}

.main-header .navbar #logo span {
  font-weight: 900;
}

.main-header .navbar #hamburger-btn {
  background: #ffffff;
  border: none;
}

.main-header .navbar #hamburger-btn:focus {
  outline: none;
}

.main-header .navbar #hamburger-btn i {
  font-size: 20px;
}

.main-header .mobile-navbar {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 250px;
  height: 100vh;
  transform: translateX(-100%);
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.main-header .mobile-navbar--open {
  transform: translateX(0);
}

.main-header .big-navbar {
  display: none;
}

/* Tablets (tablets, 768px and up) */

@media (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
  }

  .navbar #logo {
    text-decoration: none;
    background: linear-gradient(to right, #92174d 9.38%, #e41d5c 88.54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .navbar #logo i {
    font-size: 30px;
    vertical-align: middle;
  }

  .navbar #logo span {
    font-weight: 900;
  }

  .navbar ul li {
    display: inline;
    text-align: right;
    list-style: none;
    text-decoration: none;
    margin-right: 8px;
    font-size: 12px;
    font-weight: 700;
  }

  .navbar ul li a {
    color: #222222;
    text-decoration: none;
  }

  .navbar .hamburger {
    display: none;
  }

  .navbar .big-navbar {
    display: block;
  }

  .main-content {
    width: 720px;
  }
}

/* Desktops (desktops, 992px and up) */

@media (min-width: 992px) {
  .main-content {
    width: 1200px;
  }
}

.main-footer {
  background: #f7f7f7;
  width: 100%;
  border-top: 1px solid #cac9c9;
  color: #222222;
  font-weight: 500;
  padding: 20px;
}

.nav-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
}

.nav-footer:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  border-top: 1px solid #cac9c9;
}

.nav-footer:last-child .footer-title,
.nav-footer:last-child ul li {
  display: inline;
}

.nav-footer:last-child .footer-column:last-child {
  justify-content: space-between;
}

.nav-footer:last-child .footer-column:last-child a {
  text-decoration: underline;
}

.nav-footer:last-child .footer-column:last-child a:hover {
  opacity: 0.8;
}

.nav-footer:last-child i {
  vertical-align: middle;
  margin-right: 10px;
  font-size: 14px;
}

.footer-column {
  align-self: flex-start;
}

.footer-column ul li,
.footer-column a {
  list-style: none;
  text-decoration: none;
  color: #222222;
  font-size: 12px;
  padding-bottom: 8px;
}

.footer-column a:hover {
  text-decoration: underline;
}

.footer-title {
  font-size: 16px;
  font-weight: 900;
  padding-bottom: 8px;
}

/* Tablets (tablets, 768px and up) */

@media (min-width: 768px) {
  .nav-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .nav-footer .footer-column {
    flex-basis: 50%;
    padding-bottom: 20px;
  }
}

/* Desktops (desktops, 992px and up) */

@media (min-width: 992px) {
  .nav-footer {
    align-items: center;
    vertical-align: middle;
    max-width: 1140px;
    margin: 0 auto;
  }

  .nav-footer .footer-column {
    flex-basis: 25%;
    padding-bottom: 20px;
  }
}

/* Large desktops (large desktops, 1200px and up) */

#login-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#register-button {
  background: none;
  color: inherit;
  border: 0.5px solid #cac9c9;
  border-radius: 18px;
  padding: 10px;
  box-shadow: -1px 1px 1px 0px #cac9c9;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.popup {
  display: none;
  position: fixed;
  left: 45%;
  top: 20%;
  width: 100%;
  height: 100%;
  width: 12%;
  overflow: auto;
  z-index: 10;
}

.popup-form {
  background: #ffffff;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5% auto 15% auto;
  padding: 30px 20px;
  -webkit-animation: fadeIn 0.7s;
  animation: fadeIn 0.7s;
}

.close {
  position: absolute;
  right: 15px;
  top: 20px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

@-webkit-keyframes fadeIn {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.sponsorship-card {
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.sponsorship-card .card {
  display: block;
  flex-basis: 100%;
  text-decoration: none;
  color: #000;
  margin: 20px 10px;
  text-align: center;
}

.sponsorship-card .card img {
  max-width: 350px;
  margin-bottom: 5px;
  border-radius: 5px;
}

/* Tablets (tablets, 768px and up) */

@media (min-width: 768px) {
  .sponsorship-card .card {
    flex-basis: calc((100% / 2 ) - 20px);
    margin: 0 20px 20px 0;
  }

  .sponsorship-card .card:nth-of-type(2n) {
    margin-right: 0;
  }
}

/* Desktops (desktops, 992px and up) */

@media (min-width: 992px) {
  .sponsorship-card .card {
    flex-basis: calc((100% / 3 ) - 20px);
  }

  .sponsorship-card .card:nth-of-type(2n) {
    margin-right: 20px;
  }

  .sponsorship-card .card:nth-of-type(3n) {
    margin-right: 0;
  }

  .sponsorship-card .card img {
    max-width: 385px;
  }
}

/* Large desktops (large desktops, 1200px and up) */

.card-row {
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  text-align: center;
}

.card-row img {
  max-width: 350px;
  min-width: 350px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.card-row .desc-card {
  color: #222222;
}

.card-row .desc-card p {
  display: none;
}

/* Tablets (tablets, 768px and up) */

@media (min-width: 768px) {
  .card-row {
    flex-direction: row;
    text-align: left;
  }

  .card-row img {
    margin: 0;
  }
}

/* Desktops (desktops, 992px and up) */

@media (min-width: 992px) {
  .card-row .desc-card p {
    display: block;
    line-height: 25px;
  }
}

/* Large desktops (large desktops, 1200px and up) */

.search-card {
  flex-wrap: wrap;
  height: 100vh;
  overflow: auto;
  margin-right: 10px;
}

.search-card .card {
  display: block;
  flex-basis: 100%;
  text-decoration: none;
  color: #000;
  margin-bottom: 20px;
  text-align: center;
}

.search-card .card img {
  max-width: 350px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.search-home {
  align-items: center;
  justify-content: center;
  height: 120px;
}

form {
  display: flex;
  align-items: center;
}

form #address {
  width: 80%;
  height: 45px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  margin-right: 5px;
}

form #address:hover,
form #address:focus {
  border: 2px solid #929292;
}

.btn-search {
  background: linear-gradient(to right, #92174d 9.38%, #e41d5c 88.54%);
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid transparent;
  height: 50px;
  width: 70px;
  height: 40px;
}

.title-home {
  font-size: 22px;
  text-align: center;
  padding-bottom: 15px;
}

/* Tablets (tablets, 768px and up) */

@media (min-width: 768px) {
  .search-home {
    height: 170px;
  }

  form #address {
    width: 100%;
    height: 40px;
    font-size: 20px;
  }

  form .btn-search {
    margin-left: 20px;
    height: 35px;
  }

  .title-home {
    text-align: left;
    font-size: 30px;
  }
}

/* Desktops (desktops, 992px and up) */

@media (min-width: 992px) {
  .search-home {
    height: 250px;
  }

  form #address {
    width: 800px;
    height: 60px;
    font-size: 25px;
  }

  form .btn-search {
    height: 50px;
  }

  form .title-home {
    font-size: 35px;
  }
}

/* Large desktops (large desktops, 1200px and up) */

.section-home-admin {
  padding: 0 5px;
}

.section-home-admin .title-flts {
  padding-bottom: 20px;
}

.section-home-admin .title-flts h1 {
  font-size: 25px;
}

.section-home-admin .title-flts .btn-add {
  padding: 20px;
  display: flex;
  align-items: center;
}

.section-home-admin .button-card {
  justify-content: center;
}

.section-home-admin .button-card form {
  display: inline-block;
}

/* Tablets (tablets, 768px and up) */

/* Desktops (desktops, 992px and up) */

@media (min-width: 992px) {
  .section-home-admin .button-card {
    justify-content: end;
  }
}

/* Large desktops (large desktops, 1200px and up) */

.card-show {
  padding: 0 5px;
}

.jumbotron {
  text-align: center;
}

.jumbotron img {
  width: 90%;
  border-radius: 5px;
}

.jumbotron h1 {
  font-size: 20px;
  margin: 20px 0;
}

.description {
  width: 100%;
  padding: 10px 0;
  flex-direction: column;
  line-height: 25px;
}

.description .desc {
  padding-bottom: 10px;
}

.description .desc-list ul > li {
  margin-bottom: 5px;
}

.map-description {
  flex-direction: column;
}

.map-description .map {
  padding-bottom: 20px;
}

.map-description .form-message {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.map-description .form-message label {
  display: inline-block;
  width: 100px;
}

.map-description .form-message .accountholder,
.map-description .form-message .accountholder-mail {
  flex-direction: column;
  width: 100%;
}

.map-description .form-message .accountholder .form-group,
.map-description .form-message .accountholder-mail .form-group {
  margin-right: 10px;
}

.map-description .form-message .accountholder .form-group input,
.map-description .form-message .accountholder-mail .form-group input {
  border: none;
  border-bottom: 1px solid #ccc;
  height: 30px;
  font-size: 16px;
  padding: 5px;
}

.map-description .form-message .accountholder .form-group input:focus,
.map-description .form-message .accountholder-mail .form-group input:focus {
  outline: none;
}

.map-description .form-message .accountholder-mail input {
  width: 100% px;
}

.map-description .form-message .form-group {
  padding: 10px;
}

.map-description .form-message .form-group-message {
  width: 100%;
  padding: 10px;
}

.map-description .form-message .form-group-message textarea {
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  padding: 5px;
  width: 250px;
}

.map-description .form-message .form-group-message textarea:focus {
  outline: none;
}

/* Tablets (tablets, 768px and up) */

@media (min-width: 768px) {
  .jumbotron img {
    height: 300px;
  }

  .jumbotron h1 {
    text-align: center;
  }

  .description {
    padding-bottom: 50px;
  }

  .description .desc {
    width: 100%;
    line-height: 25px;
  }
}

/* Desktops (desktops, 992px and up) */

@media (min-width: 992px) {
  .jumbotron img {
    height: 400px;
  }

  .description {
    padding-bottom: 50px;
    flex-direction: row;
  }

  .description .desc {
    width: 50%;
  }

  .description .desc-list {
    padding-left: 0;
  }

  .map-description {
    flex-direction: row;
  }

  .map-description .map {
    width: 50%;
    padding-bottom: 0;
  }
}

/* Large desktops (large desktops, 1200px and up) */

.edit-form {
  padding: 0 5px;
}

.edit-form label {
  font-weight: 600;
  margin-bottom: 5px;
}

.edit-form input,
.edit-form textarea {
  width: 300px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  font-size: 18px;
}

/* Tablets (tablets, 768px and up) */

/* Desktops (desktops, 992px and up) */

@media (min-width: 992px) {
  .edit-form label {
    margin-bottom: 5px;
  }

  .edit-form input,
  .edit-form textarea {
    width: 500px;
    margin-bottom: 30px;
  }

  .edit-form .edit-description {
    width: 100%;
    display: flex;
  }

  .edit-form .edit-description .desc-one {
    width: 50%;
    padding-right: 30px;
  }

  .edit-form .edit-description .desc-two {
    width: 50%;
  }

  .edit-form .edit-description .desc-two input {
    width: 400px;
    margin-bottom: 20px;
  }

  .edit-form .services {
    padding: 20px 0;
    flex-direction: row;
  }

  .edit-form .services label {
    font-weight: 600;
  }

  .edit-form .services input {
    width: 80px;
    margin-bottom: 0px;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 0px;
    font-size: 18px;
  }
}

/* Large desktops (large desktops, 1200px and up) */

.search-home {
  display: flex;
  flex-direction: column;
  height: 100px;
}

.search-home .btn-filter {
  margin: 10px 0;
}

.animation--service {
  overflow: hidden;
  max-height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.animation--service .search-services {
  display: flex;
  flex-direction: column;
}

.animation--service .search-services label {
  display: inline-block;
  font-weight: 500;
  width: 240px;
  margin-bottom: 5px;
}

.animation--service .search-services input {
  width: 60px;
  margin-right: 10px;
}

.animation--service .checkbox-services {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.animation--service .checkbox-services label {
  display: inline-block;
  width: 285px;
  margin-bottom: 5px;
  font-weight: 500;
}

.animation--service .checkbox-services input {
  margin-right: 10px;
}

.animation--service--open {
  max-height: 300px;
}

.map {
  display: none;
}

/* Tablets (tablets, 768px and up) */

@media (min-width: 768px) {
  .search-home--two {
    margin-top: 20px;
  }

  .search-card {
    flex-basis: 40%;
  }

  .map {
    display: inline-block;
    flex-basis: 60%;
  }

  .map #mapid {
    height: 400px;
  }
}

/* Desktops (desktops, 992px and up) */

@media (min-width: 992px) {
  .animation--service .search-services {
    flex-direction: row;
  }

  .animation--service .search-services label {
    width: 225px;
    margin-bottom: 5px;
  }

  .animation--service .search-services input {
    width: 60px;
    margin-right: 10px;
  }

  .animation--service .search-services:last-child label {
    width: 80px;
  }

  .animation--service .checkbox-services {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .animation--service .checkbox-services label {
    width: 100px;
    font-weight: 500;
  }

  .animation--service .checkbox-services input {
    margin-right: 15px;
  }
}

/* Large desktops (large desktops, 1200px and up) */

