@import url(https://fonts.googleapis.com/css?family=Nunito);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

button,
a {
  cursor: pointer;
}

main {
  flex-grow: 1;
}

li {
  list-style: none;
}

.main-content {
  max-width: 95%;
  margin: 0 auto;
}

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.m-15 {
  margin: 15px;
}

.m-20 {
  margin: 20px;
}

.m-25 {
  margin: 25px;
}

.m-30 {
  margin: 30px;
}

.m-35 {
  margin: 35px;
}

.m-40 {
  margin: 40px;
}

.m-45 {
  margin: 45px;
}

.m-50 {
  margin: 50px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-35 {
  margin-right: 35px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-45 {
  margin-right: 45px;
}

.mr-50 {
  margin-right: 50px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-35 {
  margin-left: 35px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-45 {
  margin-left: 45px;
}

.ml-50 {
  margin-left: 50px;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.p-25 {
  padding: 25px;
}

.p-30 {
  padding: 30px;
}

.p-35 {
  padding: 35px;
}

.p-40 {
  padding: 40px;
}

.p-45 {
  padding: 45px;
}

.p-50 {
  padding: 50px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pr-1 {
  padding-right: 5px;
}

.pr-2 {
  padding-right: 10px;
}

.pr-3 {
  padding-right: 15px;
}

.pr-4 {
  padding-right: 20px;
}

.pr-5 {
  padding-right: 25px;
}

.pr-6 {
  padding-right: 30px;
}

.pr-7 {
  padding-right: 35px;
}

.pr-8 {
  padding-right: 40px;
}

.pr-9 {
  padding-right: 45px;
}

.pr-10 {
  padding-right: 50px;
}

.pl-1 {
  padding-left: 5px;
}

.pl-2 {
  padding-left: 10px;
}

.pl-3 {
  padding-left: 15px;
}

.pl-4 {
  padding-left: 20px;
}

.pl-5 {
  padding-left: 25px;
}

.pl-6 {
  padding-left: 30px;
}

.pl-7 {
  padding-left: 35px;
}

.pl-8 {
  padding-left: 40px;
}

.pl-9 {
  padding-left: 45px;
}

.pl-10 {
  padding-left: 50px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.no-display {
  display: none;
}

.no-visibility {
  visibility: hidden;
}

.d-flex {
  display: flex;
}

.df-column {
  display: flex;
  flex-direction: column;
}

.s-between {
  justify-content: space-between;
}

.s-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.li-button {
  border: 0.5px solid #cac9c9;
  border-radius: 18px;
  padding: 10px;
  box-shadow: -1px 1px 1px 0px #cac9c9;
}

/* Tablets (tablets, 768px and up) */

/* Desktops (desktops, 992px and up) */

/* Large desktops (large desktops, 1200px and up) */

.main-header {
  padding: 10px;
}

.main-header .navbar-header-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header .navbar-header-page .logo-header-page {
  text-decoration: none;
  background: linear-gradient(to right, #92174d 9.38%, #e41d5c 88.54%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
}

.main-header .navbar-header-page .logo-header-page i {
  font-size: 30px;
}

.main-header .navbar-header-page .logo-header-page span {
  font-weight: 900;
}

.main-header .navbar-header-page #hamburger-btn {
  background: #ffffff;
  border: none;
  padding: 5px;
}

.main-header .navbar-header-page #hamburger-btn:focus {
  outline: none;
}

.main-header .navbar-header-page #hamburger-btn i {
  font-size: 20px;
}

.main-header .mobile-navbar-header-page {
  display: none;
}

.main-header .mobile-navbar-header-page.show {
  display: block;
}

.main-header .big-navbar-header-page ul li {
  display: none;
}

.hamburger-header-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
}

.hamburger-header-page .logo-header-page {
  text-decoration: none;
  background: linear-gradient(to right, #92174d 9.38%, #e41d5c 88.54%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hamburger-header-page .logo-header-page i {
  font-size: 30px;
  vertical-align: middle;
}

.hamburger-header-page .logo-header-page span {
  font-weight: 900;
}

.hamburger-header-page .mobile-navbar-header-page {
  position: fixed;
  top: 36px;
  right: 10px;
  background: white;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(38%, white), color-stop(77%, #f6f6f6), color-stop(100%, #ededed));
  background: linear-gradient(to bottom, white 0%, white 38%, #f6f6f6 77%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ffffff", endColorstr="#ededed", GradientType=0 );
  border: 1px solid #222222;
  border-radius: 10px 0 0 10px;
  box-shadow: 1px 1px 3px 0px #222222;
  z-index: 3;
  -webkit-animation: sliding 0.6s;
          animation: sliding 0.6s;
}

.hamburger-header-page .mobile-navbar-header-page .emptydiv-header-page {
  padding: 0;
  margin: 0;
  height: 10%;
  width: 100%;
  background: linear-gradient(to left, #92174d 9.38%, #e41d5c 88.54%);
  border-radius: 9.4px 0 0 0;
}

.hamburger-header-page .mobile-navbar-header-page ul {
  padding: 5px;
}

.hamburger-header-page .mobile-navbar-header-page ul i {
  display: none;
}

.hamburger-header-page .mobile-navbar-header-page ul li {
  text-align: left;
  list-style: none;
  text-decoration: none;
  padding: 5px;
  margin-right: 8px;
  font-size: 12px;
  font-weight: 500;
}

.hamburger-header-page .mobile-navbar-header-page ul li a {
  color: #222222;
  text-decoration: none;
}

.hamburger-header-page .mobile-navbar-header-page ul li #register-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  box-shadow: none;
  border-radius: none;
}

@-webkit-keyframes fadeIn {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@-webkit-keyframes sliding {
  0% {
    right: -100px;
  }

  33% {
    right: 5px;
  }

  66% {
    right: 7.5px;
  }

  100% {
    right: 10px;
  }
}

@keyframes sliding {
  0% {
    right: -100px;
  }

  33% {
    right: 5px;
  }

  66% {
    right: 7.5px;
  }

  100% {
    right: 10px;
  }
}

/* Tablets (tablets, 768px and up) */

/* Desktops (desktops, 992px and up) */

@media (min-width: 992px) {
  .navbar-header-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
  }

  .navbar-header-page .logo-header-page {
    text-decoration: none;
    background: linear-gradient(to right, #92174d 9.38%, #e41d5c 88.54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .navbar-header-page .logo-header-page i {
    font-size: 30px;
    vertical-align: middle;
  }

  .navbar-header-page .logo-header-page span {
    font-weight: 900;
  }

  .navbar-header-page ul li {
    display: inline;
    text-align: right;
    list-style: none;
    text-decoration: none;
    margin-right: 8px;
    font-size: 12px;
    font-weight: 700;
  }

  .navbar-header-page ul li a {
    display: inline-block;
    padding: 5px 10px;
    color: #222222;
    text-decoration: none;
    border-radius: 5px;
  }

  .navbar-header-page ul li a.active {
    border-bottom: 3px solid #e3342f;
  }

  .navbar-header-page ul li a:hover {
    background: #f6f6f6b9;
  }

  .navbar-header-page .hamburger-header-page {
    display: none;
  }

  .navbar-header-page .big-navbar-header-page {
    display: block;
  }

  .navbar-header-page .big-navbar-header-page ul li {
    display: inline;
  }
}

.main-footer {
  background: #f7f7f7;
  width: 100%;
  border-top: 1px solid #cac9c9;
  color: #222222;
  font-weight: 500;
  padding: 20px;
}

.nav-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
}

.nav-footer:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  border-top: 1px solid #cac9c9;
}

.nav-footer:last-child .footer-title,
.nav-footer:last-child ul li {
  display: inline;
}

.nav-footer:last-child .footer-column:last-child {
  justify-content: space-between;
}

.nav-footer:last-child .footer-column:last-child a {
  text-decoration: underline;
}

.nav-footer:last-child .footer-column:last-child a:hover {
  opacity: 0.8;
}

.nav-footer:last-child i {
  vertical-align: middle;
  margin-right: 10px;
  font-size: 14px;
}

.footer-column {
  align-self: flex-start;
}

.footer-column ul li,
.footer-column a {
  list-style: none;
  text-decoration: none;
  color: #222222;
  font-size: 12px;
  padding-bottom: 8px;
}

.footer-column a:hover {
  text-decoration: underline;
}

.footer-title {
  font-size: 16px;
  font-weight: 900;
  padding-bottom: 8px;
}

/* Tablets (tablets, 768px and up) */

@media (min-width: 768px) {
  .nav-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .nav-footer .footer-column {
    flex-basis: 50%;
    padding-bottom: 20px;
  }
}

/* Desktops (desktops, 992px and up) */

@media (min-width: 992px) {
  .nav-footer {
    align-items: center;
    vertical-align: middle;
    margin: 0 auto;
  }

  .nav-footer .footer-column {
    flex-basis: 25%;
    padding-bottom: 20px;
  }
}

/* Large desktops (large desktops, 1200px and up) */

.popup-wrapper-header {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 4;
}

#login-button-headerNavbar-page {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#register-button-headerNavbar-page {
  background: none;
  color: inherit;
  border: 0.5px solid #cac9c9;
  border-radius: 18px;
  padding: 10px;
  box-shadow: -1px 1px 1px 0px #cac9c9;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.close-popup-page {
  float: right;
  text-align: right;
  color: #ffffff;
  opacity: 0.9;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.close-popup-page:hover {
  color: #222222;
}

.container-register,
.container-login {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.container-register .card-popup,
.container-login .card-popup {
  height: 100%;
}

.container-register .card-popup .card-header,
.container-login .card-popup .card-header {
  justify-content: space-between;
  padding: 0 auto 20px;
  border-bottom: 1px solid black;
  border-radius: 10px 10px 0 0;
  padding: 5px 7px;
  background: #e41d5c;
  color: #ffffff;
}

.container-register .card-popup .card-body,
.container-login .card-popup .card-body {
  margin: 10px 0;
  padding: 5px 7px;
  text-align: center;
}

.container-register .card-popup .card-body input,
.container-login .card-popup .card-body input {
  border-radius: 8px;
  padding: 5px;
  width: 80%;
}

.container-register .card-popup .card-body button,
.container-login .card-popup .card-body button {
  cursor: pointer;
}

.container-register .card-popup .form-group,
.container-login .card-popup .form-group {
  margin: 10px 0;
}

.container-register .card-popup #remember,
.container-login .card-popup #remember {
  width: 30px;
}

.popup-form {
  background: #ffffff;
  border: 0px solid transparent;
  border-radius: 10px;
  height: 100%;
  color: #222222;
  -webkit-animation: fadeIn 0.7s;
  animation: fadeIn 0.7s;
}

.popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  overflow: auto;
  z-index: 10000000;
}

@-webkit-keyframes fadeIn {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

/* Tablets (tablets, 768px and up) */

@media (min-width: 768px) {
  .popup-form {
    background: #ffffff;
    border: 0px solid transparent;
    border-radius: 10px;
    height: auto;
    color: #222222;
    -webkit-animation: fadeIn 0.7s;
    animation: fadeIn 0.7s;
  }

  .popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    height: 100%;
    width: 300px;
    overflow: auto;
    z-index: 10;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }

  .container .card {
    height: 100%;
  }

  .container .card .card-header {
    justify-content: space-between;
    padding: 0 auto 20px;
    border-bottom: 1px solid black;
    border-radius: 10px 10px 0 0;
    padding: 5px 7px;
    background: #e41d5c;
    color: #ffffff;
  }

  .container .card .card-body {
    margin: 10px 0;
    padding: 5px 7px;
    text-align: center;
  }

  .container .card .card-body input {
    border-radius: 8px;
    padding: 5px;
    width: 80%;
  }

  .container .card .card-body button {
    cursor: pointer;
  }

  .container .card .form-group {
    margin: 10px 0;
  }
}

/* Desktops (desktops, 992px and up) */

.button-home {
  background: linear-gradient(to right, #92174d 9.38%, #e41d5c 88.54%);
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid transparent;
  height: 50px;
  width: 70px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 20px;
  border: 0;
  background: #f3f0f1;
  border-radius: 32px;
  padding: 20px;
  text-decoration: none;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
  color: #6f6cde;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}

.btn-spons {
  color: #f6993f;
}

.btn-edit {
  color: #3490dc;
}

.btn-delete {
  color: #e3342f;
  cursor: pointer;
}

.btn-delete:active {
  border: 0;
}

.btn-add,
.btn-message {
  color: #38c172;
}

.btn-stat,
.btn-spons,
.btn-delete,
.btn-edit {
  position: relative;
}

.btn-stat .top-text,
.btn-spons .top-text,
.btn-delete .top-text,
.btn-edit .top-text {
  visibility: hidden;
  width: 120px;
  background: #f3f0f1;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.btn-stat .top-text:after,
.btn-spons .top-text:after,
.btn-delete .top-text:after,
.btn-edit .top-text:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #f3f0f1 transparent transparent transparent;
}

.btn-stat:hover .top-text,
.btn-spons:hover .top-text,
.btn-delete:hover .top-text,
.btn-edit:hover .top-text {
  visibility: visible;
  opacity: 1;
}

.button-card {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.btn-login-page,
.btn-register-page {
  background: linear-gradient(to right, #92174d 9.38%, #e41d5c 88.54%);
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid transparent;
  text-decoration: none;
  padding: 10px 15px;
  font-weight: 600;
}

.sponsorship-card {
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.sponsorship-card .card {
  display: block;
  flex-basis: 100%;
  text-decoration: none;
  color: #000;
  margin: 20px 10px;
  text-align: center;
}

.sponsorship-card .card img {
  max-width: 350px;
  margin-bottom: 5px;
  border-radius: 5px;
}

/* Tablets (tablets, 768px and up) */

@media (min-width: 768px) {
  .sponsorship-card .card {
    flex-basis: calc((100% / 2 ) - 20px);
    margin: 0 20px 20px 0;
  }

  .sponsorship-card .card:nth-of-type(2n) {
    margin-right: 0;
  }
}

/* Desktops (desktops, 992px and up) */

@media (min-width: 992px) {
  .sponsorship-card .card {
    flex-basis: calc((100% / 3 ) - 20px);
  }

  .sponsorship-card .card:nth-of-type(2n) {
    margin-right: 20px;
  }

  .sponsorship-card .card:nth-of-type(3n) {
    margin-right: 0;
  }

  .sponsorship-card .card img {
    max-width: 385px;
  }
}

/* Large desktops (large desktops, 1200px and up) */

.card-row {
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  text-align: center;
}

.card-row .image img {
  width: 300px;
  max-height: 140px;
  border-radius: 5px;
}

.card-row .desc-card {
  color: #222222;
}

.card-row .desc-card p {
  display: none;
}

.card-row .button-card {
  align-items: center;
}

/* Tablets (tablets, 768px and up) */

@media (min-width: 768px) {
  .card-row {
    flex-direction: row;
    text-align: left;
  }

  .card-row img {
    margin-right: 10px;
  }
}

/* Desktops (desktops, 992px and up) */

@media (min-width: 992px) {
  .card-row {
    padding-right: 10px;
  }

  .card-row .desc-card p {
    display: block;
    line-height: 25px;
  }
}

/* Large desktops (large desktops, 1200px and up) */

.search-cards {
  flex-wrap: wrap;
  height: 100vh;
  overflow: auto;
  margin-right: 10px;
}

.search-cards .card {
  display: block;
  flex-basis: 100%;
  text-decoration: none;
  color: #000;
  margin-bottom: 20px;
  text-align: center;
}

.search-cards .card img {
  max-width: 350px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.main-content {
  padding: 0;
}

.search-home {
  align-items: center;
  justify-content: center;
  height: 120px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

form #address {
  width: 80%;
  height: 45px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  margin-right: 5px;
}

form #address:hover,
form #address:focus {
  border: 2px solid #929292;
}

form .search-home__error {
  flex-basis: 100%;
  color: #e3342f;
}

.btn-search {
  background: linear-gradient(to right, #92174d 9.38%, #e41d5c 88.54%);
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid transparent;
  height: 50px;
  width: 70px;
  height: 40px;
}

.title-home {
  font-size: 22px;
  padding-bottom: 50px;
}

/* Tablets (tablets, 768px and up) */

@media (min-width: 768px) {
  .search-home {
    height: 170px;
  }

  form #address {
    width: 100%;
    height: 40px;
    font-size: 20px;
  }

  form .btn-search {
    margin-left: 20px;
    height: 35px;
  }

  .title-home {
    font-size: 30px;
  }
}

/* Desktops (desktops, 992px and up) */

@media (min-width: 992px) {
  .search-home {
    height: 250px;
  }

  form #address {
    width: 800px;
    height: 60px;
    font-size: 25px;
  }

  form .btn-search {
    height: 50px;
  }

  form .title-home {
    font-size: 35px;
  }
}

/* Large desktops (large desktops, 1200px and up) */

.section-home-admin {
  padding: 0 5px;
}

.section-home-admin .title-flts {
  padding-bottom: 20px;
}

.section-home-admin .title-flts h1 {
  font-size: 25px;
}

.section-home-admin .title-flts .btn-add {
  padding: 20px;
  display: flex;
  align-items: center;
}

.section-home-admin .card-row .desc-card {
  margin: 0;
}

.section-home-admin .button-card {
  justify-content: center;
}

.section-home-admin .button-card form {
  display: inline-block;
}

/* Tablets (tablets, 768px and up) */

/* Desktops (desktops, 992px and up) */

@media (min-width: 992px) {
  .section-home-admin .card-row .desc-card {
    margin-left: 50px;
  }

  .section-home-admin .button-card {
    justify-content: end;
  }
}

/* Large desktops (large desktops, 1200px and up) */

.card-show {
  padding: 0 5px;
}

.jumbotron {
  text-align: center;
}

.jumbotron img {
  width: 90%;
  border-radius: 5px;
}

.jumbotron h1 {
  font-size: 20px;
  margin: 20px 0;
}

.description {
  width: 100%;
  padding: 10px 0;
  flex-direction: column;
  line-height: 25px;
}

.description .desc {
  padding-bottom: 10px;
}

.description .desc-list ul > li {
  margin-bottom: 5px;
}

.map-description {
  flex-direction: column;
}

.map-description .button-card {
  border: none;
}

.map-description .map {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.map-description .map .map-container {
  height: 320px;
  width: 320px;
}

.map-description .form-message {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.map-description .form-message label {
  display: inline-block;
  width: 100px;
}

.map-description .form-message .accountholder,
.map-description .form-message .accountholder-mail {
  flex-direction: column;
  width: 100%;
}

.map-description .form-message .accountholder .form-group,
.map-description .form-message .accountholder-mail .form-group {
  margin-right: 10px;
}

.map-description .form-message .accountholder .form-group input,
.map-description .form-message .accountholder-mail .form-group input {
  border: none;
  border-bottom: 1px solid #ccc;
  height: 30px;
  font-size: 16px;
  padding: 5px;
}

.map-description .form-message .accountholder .form-group input:focus,
.map-description .form-message .accountholder-mail .form-group input:focus {
  outline: none;
}

.map-description .form-message .accountholder-mail input {
  width: 100% px;
}

.map-description .form-message .form-group {
  padding: 10px;
}

.map-description .form-message .form-group-message {
  width: 100%;
  padding: 10px;
}

.map-description .form-message .form-group-message textarea {
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  padding: 5px;
  width: 250px;
}

.map-description .form-message .form-group-message textarea:focus {
  outline: none;
}

/* Tablets (tablets, 768px and up) */

@media (min-width: 768px) {
  .jumbotron img {
    height: 300px;
  }

  .jumbotron h1 {
    text-align: center;
  }

  .description {
    padding-bottom: 50px;
  }

  .description .desc {
    width: 100%;
    line-height: 25px;
  }

  .map-description .map .map-container {
    width: 700px;
  }
}

/* Desktops (desktops, 992px and up) */

@media (min-width: 992px) {
  .jumbotron img {
    height: 400px;
    max-width: 50%;
  }

  .description {
    padding-bottom: 50px;
    flex-direction: row;
  }

  .description .desc {
    width: 50%;
  }

  .description .desc-list {
    padding-left: 0;
  }

  .map-description {
    flex-direction: row;
  }

  .map-description .map {
    width: 50%;
    padding-bottom: 0;
  }

  .map-description .map .map-container {
    height: 400px;
    width: 992px;
  }
}

/* Large desktops (large desktops, 1200px and up) */

.edit-form {
  padding: 0 5px;
}

.edit-form label {
  font-weight: 600;
  margin-bottom: 5px;
}

.edit-form input,
.edit-form textarea {
  width: 300px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  font-size: 18px;
}

.edit-form .desc-two {
  margin-bottom: 20px;
}

.edit-form .desc-two label {
  width: 90px;
}

.edit-form .desc-two input {
  width: 60px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.edit-form .services label {
  font-weight: 600;
}

/* Tablets (tablets, 768px and up) */

@media (min-width: 768px) {
  .edit-form .desc-two label {
    width: 170px;
  }

  .edit-form .desc-two input {
    width: 80px;
    margin-bottom: 20px;
    margin-right: 10px;
  }
}

/* Desktops (desktops, 992px and up) */

@media (min-width: 992px) {
  .edit-form label {
    margin-bottom: 5px;
  }

  .edit-form input,
  .edit-form textarea {
    width: 500px;
    margin-bottom: 30px;
  }

  .edit-form .edit-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .edit-form .edit-description .desc-two input {
    width: 130px;
  }

  .edit-form .services {
    padding: 20px 0;
    flex-direction: row;
  }

  .edit-form .services label {
    font-weight: 600;
  }

  .edit-form .services input {
    width: 80px;
    margin-bottom: 0px;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 0px;
    font-size: 18px;
  }
}

/* Large desktops (large desktops, 1200px and up) */

.form {
  background: #fafafa;
  padding: 30px;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 6px solid #e41d5c;
}

.form ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.form ul li {
  margin-bottom: 10px;
  min-height: 35px;
}

.form ul li .field-style {
  padding: 8px;
  outline: none;
  border: 1px solid #e41d5c;
  transition: all 0.3s ease-in-out;
}

.form ul li .field-style:focus {
  box-shadow: 0 0 5px #e41d5c;
  border: 1px solid #e41d5c;
}

.form ul li .field-split {
  width: 49%;
}

.form ul li .field-full {
  width: 100%;
}

.form ul li input.align-left {
  float: left;
}

.form ul li input.align-right {
  float: right;
}

.form ul li textarea {
  width: 100%;
  height: 100px;
}

.form ul li input[type=button],
.form ul li input[type=submit] {
  background: linear-gradient(to right, #92174d 9.38%, #e41d5c 88.54%);
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid transparent;
  height: 50px;
  width: 100%;
}

.form ul li input[type=button]:hover,
.form ul li input[type=submit]:hover {
  background: #e41d5c;
  background-color: #e41d5c;
}

textarea::-moz-placeholder, input::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
}

textarea:-ms-input-placeholder, input:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
}

textarea::-ms-input-placeholder, input::-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
}

textarea,
textarea::placeholder,
input::placeholder {
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 768px) {
  .form .btn-search {
    margin-left: 0;
  }
}

.index-search .search-cards .card-row {
  background: rgba(238, 238, 238, 0.432);
  margin-bottom: 10px;
  flex-direction: column;
}

.index-search .search-cards .card-row .desc-card {
  margin-left: 0px;
}

.index-search .map {
  display: none;
}

/* Tablets (tablets, 768px and up) */

/* Desktops (desktops, 992px and up) */

@media (min-width: 992px) {
  .index-search {
    padding-bottom: 50px;
    margin: 0 10px;
  }

  .index-search .search-cards {
    flex-basis: 60%;
    flex-wrap: wrap;
    height: 100vh;
    overflow: auto;
    margin-right: 10px;
  }

  .index-search .search-cards .card-row {
    flex-direction: row;
  }

  .index-search .search-cards .card-row .desc-card {
    margin-left: 10px;
  }

  .index-search .map {
    z-index: 1;
    display: inline-block;
    flex-basis: 40%;
  }

  .index-search .map #mapid {
    height: 100vh;
  }
}

/* Large desktops (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  .index-search .search-cards {
    flex-basis: 50%;
  }

  .index-search .map {
    flex-basis: 50%;
  }
}

.formAlgoliaIndex-page {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.formAlgoliaIndex-page .row {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
}

.formAlgoliaIndex-page .search-index__error {
  color: #e3342f;
  flex-basis: 100%;
}

.formAlgoliaIndex-page .btn-filter {
  flex-basis: 100%;
}

.formAlgoliaIndex-page .animation--service {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  color: #ffffff;
  background: linear-gradient(to right, #92174d 9.38%, #e41d5c 88.54%);
  overflow: hidden;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 100%;
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.formAlgoliaIndex-page .animation--service.animation--service--open {
  height: 200px;
  padding: 10px;
}

.formAlgoliaIndex-page .animation--service .search-services {
  display: flex;
  flex-direction: column;
}

.formAlgoliaIndex-page .animation--service .search-services label {
  display: inline-block;
  font-weight: 500;
  width: 240px;
  margin-bottom: 5px;
}

.formAlgoliaIndex-page .animation--service .search-services input {
  width: 60px;
  margin-right: 10px;
}

.formAlgoliaIndex-page .animation--service .checkbox-services {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.formAlgoliaIndex-page .animation--service .checkbox-services label {
  display: inline-block;
  width: 170px;
  margin-bottom: 5px;
  font-weight: 500;
}

.formAlgoliaIndex-page .animation--service .checkbox-services input {
  margin-right: 10px;
}

@media (min-width: 576px) {
  .formAlgoliaIndex-page .btn-filter {
    flex-basis: 100%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .formAlgoliaIndex-page .animation--service {
    padding-left: 30px;
    padding-right: 30px;
    flex-basis: 60%;
    border-radius: 15px;
  }

  .formAlgoliaIndex-page .animation--service.animation--service--open {
    padding: 30px;
  }

  .formAlgoliaIndex-page .animation--service .search-services {
    flex-direction: column;
  }

  .formAlgoliaIndex-page .animation--service .search-services label {
    width: 225px;
    margin-bottom: 5px;
  }

  .formAlgoliaIndex-page .animation--service .search-services input {
    width: 60px;
    margin-right: 10px;
  }

  .formAlgoliaIndex-page .animation--service .search-services:last-child label {
    width: 80px;
  }

  .formAlgoliaIndex-page .animation--service .checkbox-services {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .formAlgoliaIndex-page .animation--service .checkbox-services .services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: calc(100% / 3);
  }

  .formAlgoliaIndex-page .animation--service .checkbox-services .services label {
    width: 100px;
    font-weight: 500;
    margin-bottom: 0;
  }

  .formAlgoliaIndex-page .animation--service .checkbox-services .services input {
    margin-right: 15px;
  }
}

.createSponsorship-page {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
}

.createSponsorship-page .search-cards {
  height: 100%;
}

.createSponsorship-page .payment-form {
  flex-direction: column;
}

.createSponsorship-page .payment-form .braintree-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #e41d5c;
  border-bottom: 1px solid #e41d5c;
  padding: 20px 0;
}

.createSponsorship-page .payment-form .braintree-form .braintree-sheet {
  border: 1px solid #b5b5b5;
}

.createSponsorship-page .payment-form .radio {
  opacity: 0;
  position: absolute;
}

.createSponsorship-page .payment-form .radio-label {
  display: inline-block;
  background: linear-gradient(to right, #92174d 9.38%, #e41d5c 88.54%);
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid transparent;
  width: 200px;
  padding: 10px;
  margin-bottom: 5px;
  text-align: center;
  cursor: pointer;
}

.createSponsorship-page .payment-form .radio:checked + .radio-label {
  background: #2b9e2b;
}

.createSponsorship-page .payment-form .btn-transaction {
  display: inline-block;
  padding: 10px;
  background: linear-gradient(to right, #92174d 9.38%, #e41d5c 88.54%);
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid transparent;
}

@media (min-width: 768px) {
  .createSponsorship-page .payment-form {
    align-items: flex-start;
  }

  .createSponsorship-page .payment-form .braintree-form {
    align-self: stretch;
    margin-top: 20px;
  }

  .createSponsorship-page .payment-form .btn-transaction {
    align-self: center;
  }
}

@media (min-width: 992px) {
  .createSponsorship-page .payment-form .braintree-form {
    flex-direction: row;
    justify-content: space-around;
    margin: 30px 0;
  }

  .createSponsorship-page .payment-form .braintree-form .bt-drop-in-wrapper {
    max-width: 60%;
  }

  .createSponsorship-page .payment-form .btn-transaction {
    align-self: center;
  }
}

.adminSponsorshipIndex {
  width: 300px;
}

.adminSponsorshipIndex .container {
  width: 100%;
  text-align: center;
}

.adminSponsorshipIndex .container .btn-sponsorship-index-page {
  height: 40px;
  width: 200px;
  display: inline-block;
  border: 0;
  background: #f3f0f1;
  border-radius: 32px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
  color: #6f6cde;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.adminSponsorshipIndex .container .desktop-sponsorship-page {
  display: none;
}

.adminSponsorshipIndex .container .mobile-sponsorship-page .table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}

.adminSponsorshipIndex .container .mobile-sponsorship-page tr:nth-of-type(odd) {
  background: linear-gradient(to right, #92174d 9.38%, #e41d5c 88.54%);
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.75);
}

.adminSponsorshipIndex .container .mobile-sponsorship-page tr:nth-of-type(even) {
  background: #f6f6f6b9;
  color: #222222;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.75);
}

.adminSponsorshipIndex .container .mobile-sponsorship-page td {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: right;
}

.adminSponsorshipIndex .container .mobile-sponsorship-page table,
.adminSponsorshipIndex .container .mobile-sponsorship-page thead,
.adminSponsorshipIndex .container .mobile-sponsorship-page tbody,
.adminSponsorshipIndex .container .mobile-sponsorship-page th,
.adminSponsorshipIndex .container .mobile-sponsorship-page td,
.adminSponsorshipIndex .container .mobile-sponsorship-page tr {
  display: block;
}

.adminSponsorshipIndex .container .mobile-sponsorship-page thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.adminSponsorshipIndex .container .mobile-sponsorship-page tr {
  margin: 0 0 1rem 0;
  padding: 5px;
}

.adminSponsorshipIndex .container .mobile-sponsorship-page tr.active {
  background: #38c172;
}

.adminSponsorshipIndex .container .mobile-sponsorship-page td {
  border: none;
  border-bottom: 1px solid #ffffff;
  position: relative;
}

.adminSponsorshipIndex .container .mobile-sponsorship-page tr:nth-child(even) td {
  border: none;
  border-bottom: 1px solid #222222;
  position: relative;
}

.adminSponsorshipIndex .container .mobile-sponsorship-page td:before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 1px;
  padding: 5px 1px;
  white-space: nowrap;
}

.adminSponsorshipIndex .container .mobile-sponsorship-page td:nth-of-type(1):before {
  content: "#";
}

.adminSponsorshipIndex .container .mobile-sponsorship-page td:nth-of-type(2):before {
  content: "Flat Name #";
}

.adminSponsorshipIndex .container .mobile-sponsorship-page td:nth-of-type(3):before {
  content: "Sponsorship";
}

.adminSponsorshipIndex .container .mobile-sponsorship-page td:nth-of-type(4):before {
  content: "Start";
}

.adminSponsorshipIndex .container .mobile-sponsorship-page td:nth-of-type(5):before {
  content: "End";
}

.adminSponsorshipIndex .container .mobile-sponsorship-page td:nth-of-type(6):before {
  content: "Price paid";
}

.adminSponsorshipIndex .container .mobile-sponsorship-page td:nth-of-type(7):before {
  content: "Payment code";
}

.adminSponsorshipIndex .active-legend-div-indexSponsorship-page {
  display: flex;
}

.adminSponsorshipIndex .active-legend-div-indexSponsorship-page .greendiv-indexSponsorship-page i {
  color: #38c172;
  padding-right: 2px;
}

/* Tablets (tablets, 768px and up) */

@media (min-width: 768px) {
  .adminSponsorshipIndex {
    width: 668px;
  }

  .adminSponsorshipIndex .container {
    width: 100%;
  }

  .adminSponsorshipIndex .container .btn-sponsorship-index-page {
    height: 40px;
    width: 200px;
    display: inline-block;
    border: 0;
    background: #f3f0f1;
    border-radius: 32px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
    color: #6f6cde;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
  }

  .adminSponsorshipIndex .container .mobile-sponsorship-page {
    display: none;
  }

  .adminSponsorshipIndex .container .desktop-sponsorship-page {
    display: block;
  }

  .adminSponsorshipIndex .container .desktop-sponsorship-page .table {
    border: 1px solid #000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-spacing: 0;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.75);
    margin: 25px auto;
    width: 100%;
    max-width: 1140px;
  }

  .adminSponsorshipIndex .container .desktop-sponsorship-page .table .head-row {
    background: linear-gradient(to right, #92174d 9.38%, #e41d5c 88.54%);
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid transparent;
    color: #ffffff;
    height: 100%;
    width: 100%;
    padding: 0;
  }

  .adminSponsorshipIndex .container .desktop-sponsorship-page .table .head-row th:nth-child(2) {
    padding: 0 10px;
  }

  .adminSponsorshipIndex .container .desktop-sponsorship-page .table tr.active {
    background: #38c172;
  }

  .adminSponsorshipIndex .container .desktop-sponsorship-page .table tr td,
  .adminSponsorshipIndex .container .desktop-sponsorship-page .table tr th {
    padding: 10px 0;
  }

  .adminSponsorshipIndex .container .desktop-sponsorship-page .table tr td:first-child {
    padding-left: 5px;
  }

  .adminSponsorshipIndex .container .desktop-sponsorship-page .table tr td:last-child {
    padding-right: 5px;
  }

  .adminSponsorshipIndex .container .desktop-sponsorship-page .table tr:not(.head-row):hover {
    background: #cec9c9;
  }

  .adminSponsorshipIndex .container .desktop-sponsorship-page .table .desktop-sponsorship-page {
    display: block;
  }

  .adminSponsorshipIndex .container .desktop-sponsorship-page .table .mobile-sponsorship-page {
    display: none;
  }
}

/* Desktops (desktops, 992px and up) */

@media (min-width: 992px) {
  .adminSponsorshipIndex {
    width: 1140px;
  }
}

.requestsIndex-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.requestsIndex-page .request-card {
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 100%;
  border: 1px solid #e41d5c;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.requestsIndex-page .request-card:nth-child(odd) {
  background: linear-gradient(to right, #92174d 9.38%, #e41d5c 88.54%);
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid transparent;
}

.requestsIndex-page .request-card:nth-child(even) {
  background: linear-gradient(to right, #92174d 9.38%, #e41d5c 88.54%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 13px;
}

.requestsIndex-page .request-card:nth-child(even) .request-message {
  border: 1px solid #e41d5c;
}

.requestsIndex-page .request-card > * {
  margin-bottom: 5px;
}

.requestsIndex-page .request-card .request-text {
  font-weight: 400;
}

.requestsIndex-page .request-card .message-control {
  display: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.requestsIndex-page .request-card .message-control.active {
  display: block;
}

.requestsIndex-page .request-card .request-message {
  display: none;
  border: 1px solid #ffffff;
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
}

.requestsIndex-page .request-card .request-message.active {
  display: block;
}

@media (min-width: 768px) {
  .requestsIndex-page .request-card {
    flex-basis: 60%;
  }
}

@media (min-width: 992px) {
  .requestsIndex-page {
    align-items: start;
  }

  .requestsIndex-page .request-card {
    flex-basis: 30%;
  }
}

.success-message,
.error-message {
  text-align: center;
  left: -1000px;
  top: 200px;
  position: absolute;
  background-color: #38c172;
  height: 150px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 5px;
  font-size: 20px;
  font-weight: 500;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.error-message {
  background-color: #e3342f;
}

@-webkit-keyframes fadeOut {
  0% {
    left: -1000px;
    top: 200px;
  }

  50% {
    left: 50px;
    top: 200px;
  }

  100% {
    left: -1000px;
    top: 200px;
  }
}

@keyframes fadeOut {
  0% {
    left: -1000px;
    top: 200px;
  }

  50% {
    left: 50px;
    top: 200px;
  }

  100% {
    left: -1000px;
    top: 200px;
  }
}

/* Tablets (tablets, 768px and up) */

@media (min-width: 768px) {
  .success-message,
  .error-message {
    left: -2000px;
    top: 200px;
  }

@-webkit-keyframes fadeOut {
    0% {
      left: -2000px;
      top: 200px;
    }

    50% {
      left: 100px;
      top: 200px;
    }

    100% {
      left: -2000px;
      top: 200px;
    }
}

@keyframes fadeOut {
    0% {
      left: -2000px;
      top: 200px;
    }

    50% {
      left: 100px;
      top: 200px;
    }

    100% {
      left: -2000px;
      top: 200px;
    }
}
}

/* Desktops (desktops, 992px and up) */

@media (min-width: 992px) {
  .success-message,
  .error-message {
    left: -2000px;
    top: 200px;
  }

@-webkit-keyframes fadeOut {
    0% {
      left: -2000px;
      top: 200px;
    }

    50% {
      left: 200px;
      top: 200px;
    }

    100% {
      left: -2000px;
      top: 200px;
    }
}

@keyframes fadeOut {
    0% {
      left: -2000px;
      top: 200px;
    }

    50% {
      left: 200px;
      top: 200px;
    }

    100% {
      left: -2000px;
      top: 200px;
    }
}
}

/* Large desktops (large desktops, 1200px and up) */

